* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    margin: 50px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    flex: 90;
    display: flex;

    justify-content: center;
    gap: 60px;

    font-size: 25px;
}

.active-item {
    color: #FD582F;
}

.intro-section {
    display: flex;
}

.left-section {
    padding-top: 70px;
}

.left-section h3 {
    font-size: 40px;
    font-weight: 400;
}

.left-section h1 {
    font-size: 80px;
    font-family: "Fredoka One";
    font-weight: 400;
}

.sub-headlines {
    padding-top: 30px;
    padding-left: 100px;
}

.sub-headline {
    font-size: 30px;
    font-weight: 400;
}    

.sub-headline img {
    background-color: #FD582D;
    padding: 5px 5px;
    border-radius: 30px;

    position: relative;
    top: 9px;
}


button {
    background-color: #FE5B32;
    border: none;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
}

.right-section {
    position: relative;
}

.discount,.discount-content {
    position: absolute;
}

.discount-content {
    left: 50px;
}

.discount-content h1 {
    font-family: "Fredoka One";
    color: #FFFFFF;
}

.text {
    margin-top: 50px;
    margin-bottom: 50px;
}